<!-- page content -->

<div class="right_col" role="main">
   
    <div class="">
        <div class="page-title">
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Salary <small>Management</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="button" class="form-control btn-success btn btn-sm" style="width: 150px;float: right;" value="Create" ng-click="triggerCreate()" /> <div class="table-responsive col-lg-12">
                                <table id="tblSalary" class="table  table-bordered table-responsive jambo_table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Employee</th>
                                            <th>Basic</th>
                                            <th>Telephone</th>
                                            <th>Housing</th>
                                            <th>Transport</th>
                                            <th>Total Salary</th>
                                            <th>Other (Allowance Type)</th>
                                            <th>Other (Amount)</th>
                                            <th>Gratuity Salary</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                </table>
                                </div>
</div>
                </div>
            </div>
         
        </div>
    </div>

    <!-- Modal -->
    <div id="mdlSalary" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Salary</h4>
                </div>
                <div class="modal-body" ng-form name="frmSalary">
                    <input type="hidden" id="txtSalaryId" ng-model="salary.SalaryId" />
                    
                    <label>Employee Name :</label>
                    <div class="dropdown dropdown-scroll">
                        <button class="btn btn-default dropdown-toggle col-lg-12" type="button"  ng-class="frmSalary.txtEmployeeID.$invalid && frmSalary.txtEmployeeID.$dirty ? 'border-red' : ''" name="txtEmployeeID" ng-model="salary.EmployeeID"  data-toggle="dropdown" required >
                            <span id="txtSelectedEmployeeName" ng-bind="selectedEmployeeName"></span><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <div class="input-group input-group-sm search-control">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Employee" ng-model="emp" />
                                </div>
                            </li>
                            <li role="presentation" ng-repeat='item in employees | filter:emp'>
                                <a href="javascript:void(0)" ng-click="setEmployee(item.EmployeeID,item.EmployeeName)"> {{item.EmployeeName}} </a>
                            </li>
                        </ul>
                    </div>
                    <span class="text-danger right" ng-show="frmSalary.txtEmployeeID.$dirty && frmSalary.txtEmployeeID.$error.required">Required</span>
                    <label>Basic :</label> <input type="number" ng-change="salaryChange();" ng-class="frmSalary.txtBasic.$invalid && frmSalary.txtBasic.$dirty ? 'border-red' : ''" name="txtBasic"  id="txtBasic" ng-model="salary.Basic" class="form-control input-sm" required />
                    <span class="text-danger right" ng-show="frmSalary.txtBasic.$dirty && frmSalary.txtBasic.$error.required">Required</span>
                    <label>Telephone :</label> <input  ng-change="salaryChange();" ng-class="frmSalary.txtTelephone.$invalid && frmSalary.txtTelephone.$dirty ? 'border-red' : ''" name="txtTelephone"  type="number" id="txtTelephone" ng-model="salary.Telephone" class="form-control input-sm" required />
                    <span class="text-danger right" ng-show="frmSalary.txtTelephone.$dirty && frmSalary.txtTelephone.$error.required">Required</span>
                    <label>Housing :</label> <input  ng-change="salaryChange();" ng-class="frmSalary.txtHousing.$invalid && frmSalary.txtHousing.$dirty ? 'border-red' : ''" name="txtHousing"  type="number" id="txtHousing" ng-model="salary.Housing" class="form-control input-sm" required />
                    <span class="text-danger right" ng-show="frmSalary.txtHousing.$dirty && frmSalary.txtHousing.$error.required">Required</span>
                    <label>Transport :</label> <input  ng-change="salaryChange();" ng-class="frmSalary.txtTransport.$invalid && frmSalary.txtTransport.$dirty ? 'border-red' : ''" name="txtTransport"  type="number" id="txtTransport " ng-model="salary.Transport " class="form-control input-sm" required />
                    <span class="text-danger right" ng-show="frmSalary.txtTransport.$dirty && frmSalary.txtTransport.$error.required">Required</span>
                    <label>Other (Allowance Type)  :</label> <input  id="txtOtherText  " ng-model="salary.OtherText  " class="form-control input-sm" />
                    <label>Other (Amount) :</label> <input type="number" ng-change="salaryChange();" id="txtOtherNumber " ng-model="salary.OtherNumber " class="form-control input-sm" />
                    <label>Total Salary :</label> <input type="number" id="txtTotalSalary " ng-model="salary.TotalSalary " class="form-control input-sm" disabled />
                    <label>Gratuity Salary :</label> <input type="number" id="txtGratuitySalary " ng-model="salary.GratuitySalary " class="form-control input-sm" ="" />
                    <span class="text-danger right" ng-show="frmSalary.txtTotalSalary.$dirty && frmSalary.txtTotalSalary.$error.required">Required</span>
                    <label>Remarks :</label> <textarea id="txtSalaryRemarks" ng-model="salary.Remarks" class="input-sm form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-show="isCreate" ng-click="createSalary()">Create</button>
                    <button type="button" class="btn btn-primary" ng-hide="isCreate" ng-click="updateSalary()">Update</button>
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal" ng-hide="isCreate"ng-click="deleteSalary()">Delete</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
   <!-- Modal -->
<div id="mdlSalaryDelete" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Delete Salary</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete <b ng-bind="deleteName"></b> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSalary()">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->