<!-- page content -->

<div class="right_col" role="main">
   
    <div class="">
        <div class="page-title">
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Document Category <small>Management</small></h2>
                     
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input type="button" class="form-control btn-success btn btn-sm" style="width: 150px;float: right;" value="Create" ng-click="triggerCreateDocumentCategory()" /> 
                        <div class="table-responsive col-lg-12">
                            <table id="tblDocumentCategory" class="table  table-bordered table-responsive  jambo_table table-striped">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Category Name</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                            </table>
                            </div>
                        </div>
                </div>
            </div>
         
        </div>
    </div>

    <!-- Modal -->
    <div id="mdlDocumentCategory" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Document Category</h4>
                </div>
                <div class="modal-body" ng-form name="frmDocumentCategory">
                    <input type="hidden" id="txtDocumentCategoryId" ng-model="documentCategory.DocumentCategoryID" />
                    
                    
                    <label>Document Category Name :</label> <input  ng-class="frmDocumentCategory.txtDocumentCategoryName.$invalid && frmDocumentCategory.txtDocumentCategoryName.$dirty ? 'border-red' : ''" name="txtDocumentCategoryName"  id="txtDocumentCategoryName" ng-model="documentCategory.DocumentCategoryName"  class="form-control input-sm" required />
                    <span class="text-danger right" ng-show="frmDocumentCategory.txtDocumentCategoryName.$dirty && frmDocumentCategory.txtDocumentCategoryName.$error.required">Required</span>
                    <label>Remarks :</label> <textarea id="txtDocumentCategoryRemarks" ng-model="documentCategory.Remarks" class="input-sm form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-show="isCreateDocumentCategory" ng-click="createDocumentCategory()">Create</button>
                    <button type="button" class="btn btn-primary" ng-hide="isCreateDocumentCategory" ng-click="updateDocumentCategory()">Update</button>
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal" ng-hide="isCreateDocumentCategory"ng-click="deleteDocumentCategory()">Delete</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="mdlDocumentCategoryDelete" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Delete Document Category</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete <b ng-bind="deleteName"></b> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteDocumentCategory()">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

            <!-- /page content -->
        </div>
    </div>
</div>

<!-- /page content -->